# minimal requirements for inference
torch
torchvision
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
gdown
trimesh
pyglet
huggingface-hub[torch]

# for camera trajectory
evo

# for sam2, customized version
-e third_party/sam2